<tr>
	<td><h4><%= cart_product.product.name %></h4></td>
	<td><h4><%= cart_product.quantity %></h4></td>
	<td><h4><%= cart_product.subtotal %></h4></td>
	<td><%= link_to 'Delete', cart_product, confirm: 'Are you sure?', method: :delete, remote: true, class: 'btn btn-danger cart_prod'%></td>
</tr> 