	<div class="span7 well catalogsSidebar" id="cart_controls">
		<div class='row'>
			<%= form_for(order = current_user.orders.build) do |f| %>			
				<%= link_to raw('<i class="icon-trash icon-white"></i> Clear cart'), {:controller => 'orders', :action => 'emptycart'}, confirm: 'Are you sure?', :class => 'btn btn-large btn-inverse right' %>
				<%= link_to raw('<i class="icon-shopping-cart icon-white"></i> Checkout'), {:controller => 'orders', :action => 'checkout'}, :class => 'btn btn-large btn-primary' %>
			<% end %>
		</div>
	</div>
