<div class="span7">	
	<div class="well catalogsSidebar">
		<div class='row'>
			<%= form_for(order = current_user.orders.build) do |f| %>			
				<%= link_to raw('<i class="icon-trash icon-white"></i> Clear cart'), {:controller => 'orders', :action => 'emptycart'}, confirm: 'Are you sure?', :class => 'btn btn-large btn-warning right' %>
				<%= f.submit "Checkout", class: "btn btn-large btn-success" %>
			<% end %>
		</div>
	</div>
</div>