<div class="span7">	
	<div class="well catalogsSidebar">
		<div class='row'>
			<%= link_to 'Clear cart', products_path, class: 'btn btn-warning btn-large'%>		
			<%= link_to 'Order', products_path, class: 'btn btn-success btn-large'%>
		</div>
	</div>
</div>