<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Xbotana is a snack distributor software created in 2012 by Xtreme Software. 
</p>

<%= link_to image_tag("XtremeSoftware.png", alt: "Xtreme Software"), 'http://rubyonrails.org/' %>