<% provide(:title, 'Contact') %>
<% if signed_in? %>
<div class="span9">
	<h1>Contact</h1>
	<p>
	  Contact Xtreme Software offices at anytime on Colima Col, Mexico 28017, 3121439445.
	Follow us on:
	</p>
</div>
<%else%>
	<h1>Contact</h1>
	<p>
  		Contact Xtreme Software offices at anytime on Colima Col, Mexico 28017, 3121439445.
		Follow us on:
	</p>
	
<%end%>
