  <h4 class="center"><%=current_user.email%></h4>
  <%= link_to "Full Site", root_url(:mobile => 0), :rel => "external", :data => { :role => "button", :theme=>"b" } %>
  <% if signed_in?%>
    <%= button_to "Log out", signout_path, method: "delete", :data => { :role => "button", :theme=>"e"} %>
  <%end%>
  &copy; botanaX<a href="/about" data-role="button" data-icon="info" data-iconpos="notext">Info</a>