<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
    header#main{
    color: white;
    background: #2C2C2C;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    height:40px;
    display:block;
  }
  h1#logo{
    color:white;
    float:right;
    font-size:22px;
    font-weight:bold;
    letter-spacing: -1px;
    font-family: 'Helvetica Neue', "MS Trebuchet", sans-serif;
    padding-right:15px;
  }
      .head{
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <header id="main"><h1 id="logo">botanaX</h1></header>
    <h1>A new route has been asigned to you</h1>
    <br />
      <p class="head">You've been assigned route number <%= @route.id %></p>
    <p>
      To see your new route details, just follow this link: <%= @url %>.
    </p>
  </body>
</html>