<% provide(:title, 'Products sold') %>
<div class='span9'>
	<h1>Products sold</h1>	
	<h3>Number of orders made (<%= @order_details.count %>)</h3>
	<table class="table-striped table"> 
		<tr>
			<td><h6>Product</h6></td>
			<td><h6>Client</h6></td>
			<td><h6>Quantity</h6></td>
			<td><h6>Subtotal</h6></td>
		</tr>
		<%= render @order_details %>
	</table>
</div>
