<% provide(:title, 'All States') %>
<%= link_to '+ Add', 'states/new', class: 'btn btn-success', style: 'float:left'%>
<h1>All States</h1>

<%= will_paginate %>

    <%= render "states" %>

<%= will_paginate %>