<%= provide(:title, 'New Route Stop') %>
<div class="span9">
	<h1>New Route Stop</h1>
	<div class="span7 offset2">
		<% if @orders.count != 0 %>	
    		<%= render 'form' %> 
		<%else%>
			<%= label :post, :title, 'There are no orders to be processed', class: 'sorryNoStock' %>
		<%end%>
	</div>
	<%= link_to "Back",   "/routes/#{@route}" %>
</div>