<% provide(:title, @lot.number.to_s) %>
	<h1>Lot <%= @lot.number.to_s %></h1>
	<ul data-role="listview" data-theme="c">
		<li data-role="list-divider"></li>
		<% if @lot.products.any? %>
			<h2>Products (<%= @lot.products.count %>)</h2>			
        		<%= render @products %>
    	<% end %>
	</ul>