<% provide(:title, 'All Cities') %>
<%= link_to '+ Add', 'cities/new', class: 'btn btn-success', style: 'float:left'%>
<h1>All Cities</h1>

<%= will_paginate %>

<ul class="not-users">
    <%= render "cities_index" %>
</ul>

<%= will_paginate %>