<% provide(:title, @city.name) %>
<div class="span7">
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @city.name %>
      </h1>
    </section>
  </aside>
</div>

<%= link_to "All cities",   cities_path %>
</div>