<% @categories.each do |category| %>
    <li>
		<div class="row-fluid">
		  <div class="span2">
		  	<%= category.name%>
		  </div>
		  <div class="span1">
		  	<%= link_to 'Show', category, class: 'btn btn-primary' %>
		  </div>
		  <div class="span1">
		  	<%= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning'%>
		  </div>
		  <div class="span1">
		  	<%= link_to 'Delete', category, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'%>
		  </div>
		</div>
    </li>
 <% end %>
