<div class="well catalogsSidebar">
<ul class="nav nav-list">
	<li class="nav-header">
	    <h4>Catalogs</h4>
	  </li>  
  <li>
    <%= link_to "States", states_path %>
  </li>
	<li>
    <%= link_to "Cities", cities_path %>
  </li>
<li>
    <%= link_to "Routes", '#' %>
  </li>
</ul>
</div>