<footer class="footer">
  <small>
    &copy; <a id="footerX" href="http://railstutorial.org/"> botanaX</a>

  </small>
  <nav>
    <ul>
      <% if mobile_device? %>
        <li><%= link_to "Full Site", :mobile => 0 %></li>
      <% else %>
        <li><%= link_to "Mobile Site", :mobile => 1 %></li>
      <% end %>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>